<div class="osn-banner">
  <%= link_to osn_path do %>
    <i><p class="mdl-typography--display-1 mdl-typography--text-center">
      OSN Short Story Competition
    </p></i>
  <% end %>
</div>

<div class="card mdl-shadow--2dp">
  <%= form_tag("/", method: "get") do %>
    <%= label_tag("Sort story by:") %>
    <%= select_tag :sort_by, options_for_select([['Trending'], ['Newest'], ['Top'], ['Random']], @selected), :onchange => "this.form.submit()"%>
  <% end %>
</div>

<br>

<% if Post.first %>
  <div class="card-home mdl-shadow--2dp">
    <% @posts.each.with_index(1) do |post, index| %>
        <%= render "shared/post", post: post, index: ((((params[:page] || 1 ).to_i - 1) * 20)+ index)%>
    <% end %>
  </div>
<% else %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p class="mdl-typography--subhead-color-contrast mdl-typography--text-center">
    There are no stories yet. Be first to submit!
  </p>
<% end %>

<br>
<%= paginate @posts %>
