<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp profile--card profile--card-edit">
    <h4 class="profile--card-edit-title">Edit Profile</h4>

    <%= form_for @user do |f| %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label profile--textfield">
        <%= f.text_field :full_name, autofocuse: true, class: "mdl-textfield__input" %>
        <%= f.label :full_name, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label profile--textfield">
        <%= f.text_field :facebook, class: "mdl-textfield__input" %>
        <%= f.label :facebook, 'Username Facebook', class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label profile--textfield">
        <%= f.text_field :twitter, class: "mdl-textfield__input" %>
        <%= f.label :twitter, 'Username Twitter', class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label profile--textfield">
        <%= f.text_field :instagram, class: "mdl-textfield__input" %>
        <%= f.label :instagram, 'Username Instagram', class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label profile--textfield-bio">
        <%= f.text_area :bio, :rows => 3, class: "mdl-textfield__input" %>
        <%= f.label :bio, class: "mdl-textfield__label" %>
      </div>

      <%= f.submit "Save changes", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
      <br>
      <br>
      <%= link_to "Cancel", user_profile_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    <% end %>
  </div>
</div>
