<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp profile--card profile--card-header">
    <% if current_user == @user %>
      <%= link_to "Edit profile", edit_profile_path, class: "mdl-button mdl-js-button mdl-js-ripple-effect profile--card-header-button" %>
    <% end %>
    <h3 class="profile--card-header-title"><%= @user.full_name %></h3>
    <p class="profile--card-header-username">@<%= @user.username %></p>
    <ul class="profile--card-header-social-media">
      <!-- .facebook? check if nil or not empty -->
      <% if @user.facebook? %>
        <li>
          <%= link_to "https://www.facebook.com/#{@user.facebook}" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.twitter? %>
        <li>
          <%= link_to "https://www.twitter.com/#{@user.twitter}" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.instagram? %>
        <li>
          <%= link_to "https://www.instagram.com/#{@user.instagram}" do %>
            <i class="fa fa-instagram"></i>
          <% end %>
        </li>
      <% end %>

    </ul>

    <p class="profile--card-header-bio">
      <%= @user.bio %>
    </p>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp profile--card profile--card--bleed">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect profile--tabs">
      <div class="mdl-tabs__tab-bar profile--tab-bar">
        <a href="#posts" class="mdl-tabs__tab is-active">
          <span class="profile--tab-bar-label">Posts</span>
          <%= @user.posts.count %>
        </a>
        <a href="#comments" class="mdl-tabs__tab">
          <span class="profile--tab-bar-label">Comments</span>
          <%= @user.comments.count %>
        </a>
      </div>

      <div class="mdl-tabs__panel profile--tabs-panel is-active" id="posts">
        <% @user.posts.order(created_at: 'desc').each.with_index(1) do |post, index| %>
          <%= render "shared/post", post: post, index: index%>
        <% end %>
      </div>

      <div class="mdl-tabs__panel profile--tabs-panel" id="comments">
        <%  @user.comments.each do |comment| %>
          <%# Check if the comment has an ancestor created from that user %>
          <% if (comment.ancestor_ids & @user.comment_ids).empty? %>
            <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
