<div class="comment-container">

  <%= render 'shared/votebutton', source: comment %>

  <div class="comment-text-container">
    <div class="post-attributes mdl-typography--caption-color-contrast">
      <span class="comment-attributes">
        <%= time_ago_in_words(comment.created_at) %> ago by <span><%= comment.user.username %></span>
      </span>
    </div>
      <%= comment.text %>
      <br>
      <%= link_to "Reply", new_comment_path(post_id: @post, parent_id: comment) %>
  </div>
</div>
