<div class="post-container">
  <% if !index.nil? %>
    <div class="post-number mdl-typography--caption-color-contrast">
      <span><%= "#{index}." %></span>
    </div>
  <% end %>

  <%= render 'shared/votebutton', source: post %>

  <div class="post-title-and-attributes">
    <div class="">
      <span class="post-title mdl-typography--subhead">
        <%= link_to "http://#{post.link}" || post do %>
          <% if post.sticky %>
            <b>Announcement: </b>
          <% end %>
          <%= post.title %>
        <% end %>
      </span>
    </div>

    <div class="post-attributes mdl-typography--caption-color-contrast">
      <span>
        <%= time_ago_in_words(post.created_at) %> ago by
        <%= link_to post.user.username, user_profile_path(post.user.username) %>
      </span>
        <br>
      <span><%= post.comments.size %> comments</span>
      <% if current_user && current_user == post.user %>
      |
        <%= link_to 'Edit story', edit_post_path(post) %>
      <% elsif current_user && current_user.admin %>
      |
        <%= link_to "Delete story", post_path(post), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
      <% else %>
      |
        <%= link_to 'Report', report_path(post), class: "grey-color", method: 'put' %>
      <% end %>
    </div>
  </div>
</div>
