<div class="post-container">
  <div class="post-number mdl-typography--caption-color-contrast">
    <span><%= "#{index}." %></span>
  </div>

  <div class="post-vote mdl-typography--caption-color-contrast">
    <% if current_user && current_user.voted_up_on?(post) %>

      <span class="upvote-clicked">
        <i class="material-icons vote-icon-up">arrow_drop_up</i>
      </span>

    <% else %>

      <%= link_to upvote_post_path(post), class: 'vote-link-up', id: "upvote-#{post.id}", method: :put, remote: true do %>
        <i class="material-icons vote-icon-up">arrow_drop_up</i>
      <% end %>

    <% end %>

    <span class="vote-number" id="<%= post.id %>"><%= post.cached_votes_score %></span>

    <% if current_user && current_user.voted_down_on?(post) %>

      <span class="downvote-clicked">
        <i class="material-icons vote-icon-down">arrow_drop_down</i>
      </span>

    <% else %>

      <%= link_to downvote_post_path(post), class: 'vote-link-down', id: "downvote-#{post.id}", method: :put, remote: true do %>
        <i class="material-icons vote-icon-down">arrow_drop_down</i>
      <% end %>

    <% end %>
  </div>

  <div class="post-title-and-attributes">
    <div class="">
      <span class="post-title mdl-typography--subhead">
        <%= post.title %>
      </span>
    </div>

    <div class="post-attributes mdl-typography--caption-color-contrast">
      <span>
        <%= time_ago_in_words(post.created_at) %> ago by <span><%= post.user.username %></span>
      </span>
        <br>
      <span><%= post.comment.size %> comments</span>
    </div>
  </div>
</div>
