<div class="post-container">
  <div class="post-number mdl-typography--caption-color-contrast">
    <span><%= "#{index}." %></span>
  </div>

  <div class="post-vote mdl-typography--caption-color-contrast">
    <%= link_to upvote_post_path(post), class: 'vote-link-up', method: :put, remote: true do %>
      <i class="material-icons vote-icon-up">arrow_drop_up</i>
    <% end %>
    <span class="vote-number data-id="<%= post.id %>""><%= post.cached_votes_score %></span>
    <%= link_to downvote_post_path(post), class: 'vote-link-up', method: :put, remote: true do %>
      <i class="material-icons vote-icon-down">arrow_drop_down</i>
    <% end %>
  </div>

  <div class="post-title-and-attributes">
    <div class="">
      <span class="post-title mdl-typography--subhead">
        <%= post.title %>
      </span>
    </div>

    <div class="post-attributes mdl-typography--caption-color-contrast">
      <span>
        <%= time_ago_in_words(post.created_at) %> ago by <span><%= post.user.username %></span>
      </span>
        <br>
      <span>8 comments</span>
    </div>
  </div>
</div>
