<%- title "#{@post.title}" %>

<div class="mdl-shadow--2dp card-home">
  <%= render "shared/post", post: @post, index: nil%>
</div>
<br>

<% if @post.text %>
  <div class="mdl-shadow--2dp card">
    <div class="markdown-render">
      <%= markdown(@post.text) %>
    </div>
  </div>
<br>

<div class="mdl-typography--text-center">
  <%= link_to "Kembali ke halaman depan", root_path, class: "mdl-button mdl-js-button mdl-button--raised", method: :get %>
</div>

<br>
<% end %>

<%= render 'comments/newcomment', post_id: @post.id %>

<br>

<% if @post.comments.any? %>
  <div class="mdl-shadow--2dp card">
    <!-- http://railscasts.com/episodes/262-trees-with-ancestry?view=asciicast -->
    <%= nested_comments @post.comments.arrange(:order => :created_at) %>
  </div>
<% end %>
