<header class="mdl-layout__header">

  <div class="mdl-layout__header-row">
    <div class="mdl-cell--2-col-desktop"></div>
    <!-- Title -->
    <%= link_to root_path, class: "title-text" do %>
      <img src="/table.id.png" alt="Table.id", class="mdl-layout-icon">
      <span class="mdl-layout-title">Table.id</span>
    <% end %>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <% if user_signed_in? %>
        <!-- Right aligned menu below button -->
        <%= link_to new_post_path, class: "mdl-button mdl-js-button mdl-color-text--white  mdl-color-text--white capitalize" do %>
          <i class="material-icons">mode_edit</i>
           Submit
           <span class="mdl-cell--hide-phone">a story</span>
        <% end %>

        <button id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-color-text--white lowercase login-button">
          <span class="mdl-cell--hide-phone"><%= current_user.username %></span>
          <i class="material-icons">arrow_drop_down</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
              <%= link_to 'Profile', user_profile_path(current_user.username), class: "mdl-menu__item" %>
              <%= link_to 'Edit profile', edit_profile_path(current_user.username), class: "mdl-menu__item" %>
              <li class="mdl-menu__item--full-bleed-divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, class: "mdl-menu__item", method: :delete %></li>
        </ul>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "mdl-button mdl-js-button login-button" %>
        <%= link_to "Sign up", new_user_registration_path, class: "mdl-button mdl-js-button login-button" %>
      <% end %>
    </nav>
    <div class="mdl-cell--2-col-desktop"></div>
  </div>
</header>
